@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
html {
    scroll-behavior: smooth;
    overflow-y: scroll;
}
#menu{
    display: none;
}
model-viewer{
    width: 30vh;
    height: 30vh;
    padding: 5%;
}
body{
    background-color: #363536;
}
h1, h3, p, h2{
    font-family: 'Lexend', sans-serif;
    color: #d4d2d4;
    text-shadow: 1% 1% 1% black;
}
.side{
    margin-right: 5%;
    position: sticky;
    font-family: 'Lexend', sans-serif;
    text-align: right;
}
.side > a, #menu{
    margin-right: 3%;
}
label{
    color: #a9a8a9;
}
.right{
    float: right;
}
#dropdown{
    display: none;
    text-align: right;
    background-color: rgb(25, 34, 34);
    margin-right: 3%;
    margin-left: 80%;
    padding: 2%;
    border-radius: 6%;
}
a{
    text-decoration: none;
    color: #a9a8a9;
    font-family: 'Lexend', sans-serif;
    text-shadow: 1% 1% 1% black;
    transition: text-shadow 0.2s ease-in-out;
}
.title{
    float: left;
    position: sticky;
}
button{
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
    color: #a9a8a9;
}
.centered{
    font-family: 'Lexend', sans-serif;
    text-align: center;
}
a:hover{
    text-shadow: 10% 6% 10% black;
    transition: text-shadow 0.2s ease-in-out;
}
img{
    width: 30%;
    height: 30%;
    border-radius: 5%;
    transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
}
img:hover{
    width: 60%;
    height: 60%;
    transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
}

/* as divs separadas */
#tela-inicial, #sobre-mim, #projetos, #habilidades, #contatos{
    margin: 10%;
}
.site-andr, .fisica{
    width: 50%;
    text-align: center;
}
.forcedHeader{
    top: 4%;
    position: sticky;
}
/* media queries */
@media (max-width: 768px){
    #menu{
        display: block;
    }
    .side{
        display: none;
    }
}